.jogos {
    position: relative;
    top: 55rem;
    left: 2rem;
}

.game {
    position: absolute;
    width: 27.6rem;
    height: 2rem;
    top: 20rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3479E9;
}

.games {
    position: absolute;
    width: 27.6rem;
    height: 2rem;
    top: 20rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #000;
}

.names,
.mais {
    position: relative;
    color: white;
    font-size: 19px;
    text-align: center;
}

.mais {
    position: relative;
    bottom: 1.2rem;
}

.names {
    bottom: 0.8rem;
}

.conteiner {
    width: 30rem;
}

.gratis {
    color: white;
    font-size: 27px;
}

.nameGame{
    color: white;
}

.hora{
    color: white;
    opacity: 0.3;
}

.estrelas{
    background-color: transparent;
}

#mais {
    position: relative;
    background-color: transparent;
    border: none;
    height: 2rem;
}

.borda {
    position: relative;
    left: 83rem;
    width: 5.3rem;
    height: 1.5rem;
    bottom: 1rem;
    border-style: groove;
}